body{
    background-color: beige;
}

.hidden{
    display: none;
}

.clicked {
    color: tomato;
}

.sexy-fonts{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}